div.card{
    padding: 3%;
    background-color: #f3f4f7
}

.cardimg{
    width: 10%
}

.App{
    width: 847px;
    height: 720px;
    overflow: scroll;
}

.footer{
 
    height: 78px;
    background-color: #ec5656
}

nav.header{
        width: 98%;
        height: 78px;
}

.textheader{
    margin-left: 40%;
    font-size: 2rem;
    margin-top: 2%;
}

.btnadd{
    border-radius: 100%;
    border-color: transparent;
    background-color: #ec5656;
    font-size: 2rem;
    height: 80px;
    width: 80px;
    margin-top: -20px;
    color: aliceblue
}

.element {
    background-image: url(./search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8%;
    background-origin: content-box;
    height: 60px;
}